html{
    font-family: 'Nunito';
}

body{
    background-color: #130f0d;
    color: white;
}

.boards{
    display: flex;
    margin-top: 32px;
}

.board{
    background: #141316;
    border: 1px solid #fd951f11;
    border-radius: 4px;
    margin: 0 16px;
}

.board h3{
    padding: 16px;
    margin: 0px;
    color: #fd951fcc;
}

.dropzone{
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
}

.card{
    padding: 16px;
    box-shadow: 0 2px 2px -1px #fd951fcc;
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    background-color: #1a1a1c;
}

.status{
    width: 30px;
    height: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.status.green{
    background:  #23d2ac;
}

.hightlight{
    background-color: #fd951f08;
}

.status.blue{
    background:  #33adff;
}

.status.red{
    background:  red;
}

.card, .dropzone{
    transition: .4s;
}

.is-dragging{
    cursor: move;
    opacity: 0.1;
}

.over{
    background-color: #4cd13511;
}